@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat&display=swap');

body{
    background-color: #B2DBBF;
}

h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
    color: #484538;
    text-align: center;
    font-style: normal;
}

h2{
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#484538;
    border-left-style: solid;
    border-left-width: thick;
    border-left-color: #FFB627
}

p{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align:center;
}


a{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
img.round-corners{
    border-radius: 125px;
    width: 15%;
    height: 15%;
}

.navbar{
    background-color: #A4C2A5;
    overflow: hidden;
}
.navbar a{
    float:left;
    color:#484538;
    text-align:center;
    padding: 15px 15px;
    text-decoration:none;
    font-size:16px; 
}
.navbar a:hover{
    background-color: #F1F2EB;
    color:black;
}
.navbar a.active{
    background-color:#484538;
    color: #FFB627;
}

.mainImg{
    display:block;
    margin-left: auto;
    margin-right:auto;
}


ul li {
    
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D45113;
    font-size: 16px;
    font-weight: lighter;
}
a{
    color: #D45113;
}

